includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - app
        - database
    level: 0
    excludePaths:
        - database/seeders
    tmpDir: tmp